.label {
	-fx-padding: 10px;
}

.element-container {
	-fx-background-color: white;
	-fx-border-color: black;
	-fx-border-width: 2px;
	-fx-text-alignment: center;
}

.array {
	-fx-alignment: center;
	-fx-padding: 6em;
    -fx-border-insets: 6em;
    -fx-background-insets: 6em;

}

.buttons{
	-fx-padding: 15px;
	-fx-spacing: 2em;
}

.buttons Button{
	-fx-padding: 5px;
}
